<script type="text/x-handlebars" data-template-name="nodeTypes/edit">
	<h1>Edit {{name}}</h1>

	<form>
		<fieldset>
			<legend>General information</legend>

			<label>Name</label> {{input type="text" value=name class="neos-span-4"}}

			<label class="neos-checkbox">{{input type="checkbox" checked=abstract}} <span></span> This node type is <em>abstract</em>. It cannot be assigned to nodes directly, but can be used as a sub type of other nodes.</label>

			<label>Group</label> {{input type="text" value=ui.group class="neos-span-4"}}
		</fieldset>

		<fieldset>
			<legend>Inspector</legend>

			<label>Label</label> {{input type="text" value=ui.label class="neos-span-4"}}
			<label>Icon</label> {{input type="text" value=ui.icon class="neos-span-4"}}
		</fieldset>

		<fieldset>
			<legend>Super types</legend>

			<ul>
				{{#each superType in superTypes}}
					<li>{{superType}} <button {{action 'removeSuperType' superType}} title="Remove super type" class="icon-remove"></button></li>
				{{/each}}
			</ul>

			{{input type="text" value=newSuperType placeholder="Node type"}} <button {{action 'addSuperType'}} class="neos-btn">Add super type</button>
		</fieldset>

		<fieldset>
			<legend>Properties</legend>

			{{#each property in properties}}
				<div class="neos-row-fluid">
					<div class="neos-span3"><strong>{{property.name}}</strong></div>
					<div class="neos-span8">
						<label>Type</label>
						{{input type="text" value=property.type class="neos-span-5"}}

						<label>Default value</label>
						{{input type="text" value=property.defaultValue class="neos-span-5"}}

						<label>Inspector label</label>
						{{input type="text" value=property.ui.label class="neos-span-5"}}

						<label>Inspector group</label>
						{{input type="text" value=property.ui.inspector.group class="neos-span-5"}}

						<label class="neos-checkbox">{{input type="checkbox" checked=property.ui.reloadIfChanged}} <span></span> Reload if changed</label>
					</div>
					<div class="neos-span1"><button {{action 'removeProperty' property}} title="Remove property" class="icon-remove"></button></div>
				</div>
			{{/each}}

			{{input type="text" value=newPropertyName placeholder="Name"}} <button {{action 'addProperty'}} class="neos-btn">Add property</button>
		</fieldset>

		<fieldset>
			<legend>Child nodes</legend>

			{{#each childNode in childNodes}}
				<div class="neos-row-fluid">
					<div class="neos-span3"><strong>{{childNode.nodePath}}</strong></div>
					<div class="neos-span8">
						<label>Node type</label>
						{{input type="text" value=childNode.type class="neos-span-5"}}
					</div>
					<div class="neos-span1"><button {{action 'removeChildNode' childNode}} title="Remove child node" class="icon-remove"></button></div>
				</div>
			{{/each}}
			{{input type="text" value=newChildNodeNodePath placeholder="Node path"}} <button {{action 'addChildNode'}} class="neos-btn">Add child node</button>
		</fieldset>

		<p>
			<button class="neos-btn neos-btn-primary">Save</button>
			{{#link-to 'nodeTypes' tagName="button" class="neos-btn"}}Close{{/link-to}}
		</p>
	</form>
</script>
